.searchbar_container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.searchbar_container > button {
  width: 80px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(37, 147, 255);
  cursor: pointer;
}
