.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover_img_container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover_img_container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.cover_img_container > img {
  max-height: 350px;
  height: 100%;
  z-index: 1;
}

.title {
  font-size: large;
  font-weight: bold;
}

.subTitle {
  color: gray;
}

.author {
  color: gray;
}

.description {
  line-height: 1.3;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  white-space: pre-line;
}
